<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Eu-Rway" content="Eu-Rway">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <script
        src="https://code.jquery.com/jquery-4.0.0.min.js"
        integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao="
        crossorigin="anonymous">
    </script>
    <title>MonoMuse</title>


</head>


<body>
    <div class="container">
        <header class="header">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
        </header>
        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a class = "checkout" href="checkout.html">Checkout</a>
        </nav>
        <main class="main">
            <h2>The Architecture of the Perfect Stack</h2>
            <p>This immersive exhibit deconstructs the burger from a structural engineering perspective. Visitors walk through "The Bun Dome," a 1:10 scale model of a sesame seed bun designed for optimal heat retention. Explore the "Foundation of Flavor," which uses thermal imaging to show why the cheese must melt at exactly 60 Celsius to achieve the perfect structural bond with the patty. </p>


            <h2>A Glowing History of Roadside America</h2>
            <p>Step back into the 1950s in this high-tech, neon-drenched gallery. Using augmented reality (AR) glasses, guests can watch "Ghost Cars" pull up to a digital diner to order the world's first mass-produced cheeseburgers. The exhibit features a collection of vintage porcelain signs and a synchronized light show that plays to the rhythm of classic mid-century jukebox hits, celebrating the era when the burger became a symbol of American freedom.</p>
            <h2>Burgers VS Hot Dogs</h2>
            <p>Are they really that different? This interactive gallery explores the DNA of the "Hamburgh Steak" and the "Frankfurter" as they traveled from Europe to the American backyard. Using high-definition touchscreens, visitors can "deconstruct" both sandwiches to see the mathematical symmetry in their toppings. The exhibit features a wall of fame for the Bun-Based Revolution, proving that whether it’s a disc or a cylinder, the spirit of the American cookout remains the same.</p>


        </main>  

        <footer class="footer">
            © MonoMuse. All rights reserved.
            <p id="copyYear"></p>
        </footer>
    </div>
</body>
</html> 

