<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Eu-Rway" content="Eu-Rway">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
    <title>MonoMuse</title>

</head>

<body>
    <div class="container"> 
        <header class="header">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
        </header>
        <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a class = "checkout" href="checkout.html">Checkout</a>
        </nav>
        
        <main class="main">
            <h2>Explore</h2>
            <h2>Mission Statement</h2>
            <p>To honor the burger as a cornerstone of global culinary heritage, exploring its history, cultural impact, and the artistry of its creation. We educate, inspire, and connect people through the universal language of this beloved comfort food.</p>
            <h2>Who We Serve (Get the Pun?)</h2>
            <ul>
                <li><strong>Culinary Students & Chefs:</strong> Who study the chemistry of the perfect sear and the evolution of sustainable proteins.</li>
                <li><strong>Families & Foodies:</strong> Who seek an interactive journey through the history of American roadside culture.</li>
                <li><strong>History Buffs:</strong> Interested in how the industrial revolution and the rise of the automobile birthed the fast-food phenomenon.</li>
                <li><strong>The Pittsburgh Community:</strong> Serving as a cultural landmark that celebrates local flavors and global innovations.</li>
            </ul>

            <h2>Museum Milestones</h2>
            <ul>
                <li><strong>2018: The Sizzle Begins</strong> – The MonoMuse Burger Museum is founded</li>
                <li><strong>2020: Digital Deliciousness</strong> – Launched the VR Grill Master simulation, the world's only Burger Simulation.</li>
                <li><strong>2022: The Golden Recipe</strong> – Acquired the original 1967 Big Mac recipe. Now served in our beloved cafe.</li>
            </ul>
        </main>
        <figure class="main_img">
            <img src="../static/MonoMuseOutside.png" alt="MonoMuse Museum" class = "image"/>
        </figure>
        <footer class="footer">
            © MonoMuse. All rights reserved.
            <p id="copyYear"></p>
        </footer>
    </div>
</body>
</html>