<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Eu-Rway" content="Eu-Rway">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>

</head>
<body>
    <h1>Buy Tickets</h1>
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
    <div class="main">
        <table>
            <tr>
                <th>Ticket Type</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Adult</td>
                <td>General Admission</td>
                <td>$18</td>
            </tr>
            <tr>
        <td>Student</td>
        <td>With valid University ID (CMU/Pitt/etc.)</td>
        <td>$12</td>
    </tr>
        <tr>
            <td>Senior</td>
            <td>Ages 65+</td>
            <td>$14</td>
        </tr>
        <tr>
            <td>Children</td>
            <td>Ages 5-12 (Under 5 are Free)</td>
            <td>$10</td>
        </tr>
        <tr>
            <td>Annual Membership</td>
            <td>Unlimited Entry</td>
            <td>$60</td>
        </tr>
        </table>
    </div>  
    
</body>
<footer>
    © 2026 MonoMuse. All rights reserved.
</footer>
</html>